{% extends "base.html.twig" %}

{% block title %}Nofw{% endblock %}


{% block page %}
<div class="section no-pad-bot" id="index-banner">
    <div class="container">
        <br><br>
        <h1 class="header center orange-text">Nofw</h1>
        <div class="row center">
            <h5 class="header col s12 light">{{ "No framework at all!"|trans }}</h5>
        </div>
        <div class="row center">
            <a href="https://github.com/nofw/nofw" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
        </div>
        <br><br>
    </div>
</div>

<div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
                    <h5 class="center">{{ "Speeds up your application"|trans }}</h5>

                    <p class="light">{{ "Frameworks are general solutions to all kinds of problems which make them heavy. Without a framework you don't need to stick to those overgeneralized solutions."|trans }}</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Lorem ipsum</h5>

                    <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis a, cumque iusto! Quos ipsa deleniti exercitationem
                        veniam commodi reiciendis excepturi vero dolores quisquam quod sed, quas ad in unde ullam.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">{{ "Advanced, yet powerful configuration"|trans }}</h5>

                    <p class="light">{{ "Configure only what you really need."|trans }}</p>
                </div>
            </div>
        </div>

    </div>
    <br><br>
</div>
{% endblock %}
